@use 'assets/mixins';

.container {
  @include mixins.flex(
    $align: flex-start,
    $justify: flex-start,
    $dir: column,
    $gap: 4px
  );

  & p:first-child {
    font-weight: 900;

    margin: 0;
  }
}
