@use 'assets/variables';
@use 'assets/mixins';

.container {
  @include mixins.flex($justify: flex-end);

  position: fixed;
  top: 0;

  width: 100%;
  height: 6.5rem;

  background-color: variables.$white;

  padding: 1.5rem 1rem;

  box-shadow: 0px 10px 5px -5px variables.$box-shadow;

  box-sizing: border-box;

  z-index: 2;

  & .list {
    position: absolute;
    top: 95px;

    background: variables.$white;

    width: 22rem;
    max-height: 22rem;

    padding: 1rem;

    border: 1px solid variables.$main-border;
    border-radius: 5px;

    box-shadow: -5px 10px 5px -5px variables.$box-shadow;

    overflow: auto;

    z-index: 2;

    animation: 0.2s open;

    @keyframes open {
      0% {
        opacity: 0;
        visibility: hidden;
        height: 0;
      }
      50% {
        opacity: 0.5;
        visibility: visible;
        height: 50%;
      }
      100% {
        opacity: 1;
        height: 100%;
      }
    }

    @media (max-width: variables.$mobile) {
      width: 18rem;
    }

    & .overlay {
      position: fixed;
      inset: 0;

      width: 100%;
      height: 100%;

      z-index: -1;
    }

    & .header {
      @include mixins.flex($align: center, $justify: space-between);

      border-bottom: 1px solid variables.$main-border;

      & svg {
        cursor: pointer;
      }
    }
  }
}
